*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '微軟正黑體';
  box-sizing: border-box;
}

.container{
  width: 75%;
  padding-left: 15;
  padding-right: 15px;
  margin: auto;
}

section{
  margin-bottom: 2rem !important;
}

// 用註解單行不會被編譯出來
/* 多行就會被編譯到CSS
..
..
*/
/* 1. Variables(變數)*/
$primary:#007bff;
$secondary:#6c757d;
$success:#28a745
