*,
body,
html{
  padding: 0
  margin: 0
}
#sidebar{
  position fixed 
  top 0  
  left 0 
  }
#main{
  .col{
    text-align: center
    width 100%
    background: red
    img{
      object-fit: cover
      width 100%
    }
  }
}