<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            list-style: none;
            box-sizing: border-box;
            font-family: 微軟正黑體;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model='newitem' @keydown.enter='add' :style="{border:'5px solid ' + borderColor}">
        <input type="button" value='新增' @click='add'>
        <ul>

            <li v-for='(item,index) in items'>
                <input type="checkbox" :checked='item.done' @change='toggle(item)'>
                <del v-if='item.done'>{{item.text}}</del>
                <span v-else>{{item.text}}</span>
                <input type="button" value="x" @click="del(index)">
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        new Vue({
            el: '#app',
            name: 'app',
            data: {
                newitem: '',
                items: []

            },
            methods: {
                add() {
                    if (this.newitem.length > 2) {
                        this.items.push({ done: false, text: this.newitem })
                        this.newitem = ''
                    }
                },
                toggle(item) {
                    item.done = !item.done
                },
                del(index) {
                    this.items.splice(index, 1)
                }

            },
            computed: {
                borderColor() {
                    return (this.newitem.length > 2) ? 'green' : 'red'
                }
            },
            watch: {
                // watch=>監聽，當物件改變時會有反應，若是陣列只會偵測到多一個值或少一個值，若改變陣列數值則不會偵測到，因此要用deep
                newitem(newValue, oldValue) {
                    console.log('東西改變了');
                },
                items: {
                    deep: true,
                    handler(newValue, oldValue) {
                        console.log('陣列改變了');
                        localStorage.setItem('todo', JSON.stringify(this.items))
                    }
                }
            },
            mounted() {
                const data = localStorage.getItem('todo')
                if (data != null) {
                    this.items = JSON.parse(data)
                }
            }
        })
    </script>
</body>

</html>