:root{
/* css原生變數 */
  --coffee1:#000 !important;
  --coffee2:#3a3a3a !important;
  --coffee3:#6c6c6c !important;
  --coffee4:#c7c7c7 !important;
  --coffee5:#eeeeee !important;
  /* 黑色透明 */
  --black25:rgba(0,0,0,0.25)!important;
  --black50:rgba(0,0,0,0.50)!important;
  --black75:rgba(0,0,0,0.75)!important;
  /* 白色透明 */
  --white25:rgba(255,255,255,0.25)!important;
  --white50:rgba(255,255,255,0.50)!important;
  --white75:rgba(255,255,255,0.75)!important;
  
  /* 陰影 */
  --shadow1:0 0 5px var(--black25) !important;
  --shadow2:0 0 10px var(--black50) !important;
  --shadow3:0 0 15px var(--black75) !important;

  /* 內、外距 */
  --s0:0!important;
  --s1:0.25rem !important;
  --s2:0.5rem !important;
  --s3:1rem !important;
  --s4:1.5rem !important;
  --s5:3rem !important;
}

.btn-coffee {
  color: var(--coffee5);
  background-color: var(--coffee3);
  border-color: var(--coffee3);
}

.btn-coffee:hover {
  color: var(--coffee5);
  background-color: var(--coffee2);
}

.btn-coffee:focus, .btn-coffee.focus {
  color: var(--coffee5);
  background-color: var(--coffee2);
  box-shadow: var(--shadow1)
}

.btn-coffee.disabled, .btn-coffee:disabled {
  color: var(--coffee5);
  background-color: var(--coffee3);
}

.btn-coffee:not(:disabled):not(.disabled):active, .btn-coffee:not(:disabled):not(.disabled).active,
.show > .btn-coffee.dropdown-toggle {
  color: var(--coffee5);
  background-color: var(--coffee3);
}

.btn-coffee:not(:disabled):not(.disabled):active:focus, .btn-coffee:not(:disabled):not(.disabled).active:focus,
.show > .btn-coffee.dropdown-toggle:focus {
  box-shadow: var(--shadow1)
}

body{
  font-family: '微軟正黑體','Microsoft JhengHei',Arial,Helvetica,sans-serif;
  background: var(--coffee1);
}

#navbar{
  color: var(--coffee3);
  background: var(--coffee1);
  padding:var(--s1) 0 ;
  transition: 0.5s;
  
}

#coffee-navbar .nav-link i{
  margin-right: var(--s1);
}
/* 最小尺寸登陸，註冊會呈水平 */
#login_menu{
  display: flex;
  flex-direction: row;
}

.carousel-control-prev,
.carousel-control-next{
  transition: 0.5s;
}
.carousel-control-prev:hover{
background: linear-gradient(90deg,rgba(0,0,0,0.8),transparent);
opacity: 1;
}
.carousel-control-next:hover{
  background: linear-gradient(-90deg,rgba(0,0,0,0.8),transparent);
  opacity: 1;
}

.carousel-item{
  height: 100%;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@keyframes img-scale{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }

}
.img-scale{
  animation: img-scale 20s 1s 1 ease forwards;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#section02{
  background: var(--coffee4);
}

#section02 .container h1{
  text-align: center;
  padding-top: var(--s4);
  color:var(--coffee1);
  margin-bottom: 4rem;
}

#section02 > .container > .row{
  padding: var(--s2);
}

#section02 .col-lg-3{
  padding-left: var(--s2);
  padding-right: var(--s2);
  margin-bottom: var(--s2);
}
#section02 .list-group{
  margin: var(--s3) 0;
  margin-bottom: var(--s4);
}



#section02 .list-group .nav-link{
  color:var(--coffee2);
  padding:(--s2);
  transition:0.3s;
}

#section02 .nav-item.active{
  color:var(--coffee2);
  background: var(--coffee4);
  border: var(--s1) inset var(--coffee5);
}

#section02 .card{
  transition: 0.3s;
  border: 5px double var(--coffee2) !important;
  box-shadow: 0 0 0 1px var(--coffee4);
  height: 100%;
}
#section02 .card:hover{
  transform: translate(0.1rem,-0.3rem);
}

#section02 .card-body h5{
  margin: 0;
  font-size: 1.1rem;
}
#section02 .card-body p{
  margin: 0;
}

#section03 .view img{
  transition: 0.5s;
}
#section03{
  padding-bottom: var(--s4);
}

#section03 h1{
  text-align: center;
  padding-top: var(--s5);
  margin: var(--s3) 0;
  color: var(--coffee5);
}

#section03 > .container > .row{
  background: var(--black50);
  padding: var(--s2);
  padding-top: var(--s4);
}

#section03 .col-lg-3{
  padding-left: var(--s2);
  padding-right: var(--s2);
  margin-top: var(--s4);
}

#section03 .view{
  overflow: hidden;
  position: relative;
}

#section03 .view .text{
  width: 100%;
  color: white;
  background: var(--black50);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section03 .view .text p {
  display: none;
  text-align: center;
}


#section03 .view:hover img {
  transform: scale(1.2);
}

#section03 .view:hover .text {
  background: var(--black75);
}

#section04 .embed-responsive{
  position: absolute;
  filter: brightness(50%);
  transition: 1s;
}
#section04 .embed-responsive:hover{
filter:brightness(80%);
}

#section04 .infomation{
  width: 100%;
  height: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#section04 .infomation h3{
  color: var(--primary);
  text-align: center;
  background: var(--coffee5);
  border-radius: 0.25rem;
  padding: var(--s3);
  box-shadow: var(--shadow1);
  position: relative;
}

#section04 .infomation .accordion{
  box-shadow: var(--shadow1);
  position: relative;
}

#section04 .infomation_switch{
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
}

#section04 .infomation_switch .close{
  font-size: 2rem;
  color: var(--primary);
  padding: 0.3rem 0.2rem 0.2rem;
  cursor: pointer;
}

#traffic{
  transition: 1s;
}

#accordion:checked + #traffic{
  /* 利用checked狀態讓隔壁元素去做動作 */
  transform: translateX(97%);
}

.infomation_switch label .fa-angle-double-left{
  /* 關閉左邊方向的鍵 */
  display: none;
}
#accordion:checked + #traffic .infomation_switch label .fa-angle-double-left {
  display: block;
}
#accordion:checked + #traffic .infomation_switch label .fa-angle-double-right,
#accordion:checked + #traffic .card  {
  display: none;
}

#section05{
  color: var(--coffee2);
  background: var(--coffee4);
  padding: 2rem 0 ;
}
#section05 .container{
  width: 95%;
}
#section05 h1 {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}

#section05 h5{
  font-size: 1.5rem;
  text-align: center;
  margin: bottom;
}

#section05 small{
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

#section05 .row .col-12:first-child{
  padding-bottom: 0.2rem;
  margin-bottom: 1.5rem !important;
  border-bottom: 1px solid var(--coffee3);
}

#section05 .row .col-lg-12:last-child{
  padding-bottom:2rem;
  margin-bottom: 1.5rem !important;
  border-bottom: 1px solid var(--coffee3);
}

#section05 .form-control:focus,
#section05 .input-group:focus
{
  border: var(--coffee3);
  box-shadow: var(--shadow2);
}

#section06{
  padding: 2rem 0 ;
}

#section06 h1{
  text-align: center;
  padding-top: var(--s5);
  padding-bottom: var(--s2);
}

#section06 #nav-img{
  box-shadow:var(--shadow3);
}

#footer{
  color: var(--coffee5);
}

@media(max-width:575px){
  #main_menu.navbar-nav{
    padding-left:var(--s3) ;
    padding-bottom: var(--s2);
  }

  #login_menu.navbar-nav{
    padding-left:var(--s3) ;
    padding-bottom: var(--s2);
  }
}
@media(min-width:992px){
  #section01,
  #section02,
  #section03,
  #section04,
  #section05,
  #section06{
    height: 100vh;
  }

  #section03 .text p {
    display: block !important;
    text-align: center;
  }

  #section04 .infomation .accordion{
    width: 30%;

  }
  #section04 .infomation{
    align-items: flex-end;
  }
}


section:nth-child(odd){
  background: var(--coffee4);
}

/* modal */
#login .modal-content,
#register .modal-content{
  box-shadow: var(--shadow3);
}

#login input.form-control:focus,
#register input.form-control:focus{
  border: var(--coffee3);
  box-shadow: var(--shadow2);
} 

#go_top_page{
  width: 50px;
  height: 50px;
  background: var(--coffee3);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  box-shadow: inset 0 0 0 2px var(--coffee3), inset 0 0 0 4px var(--coffee5);
}
#go_top_page a{
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  color: var(--coffee5);
  text-decoration: none;
}

#section02 ul{
  list-style: none;
}
